@model IEnumerable<Transacciones>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@if (Model.Count() == 0)
{
    <div class="col-md-12 row mt-2 mb-2">
        <label>
            Sin registros
        </label>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <h4>
                            <span class="text-muted">
                                Identificador
                            </span>
                        </h4>
                    </th>
                    <th title="Tipo de transacción">
                        <h4 style="cursor:pointer">
                            <span class="text-muted">
                                Tipo de transacción
                            </span>
                        </h4>
                    </th>

                    <th title="Monto">
                        <h4 style="cursor:pointer">
                            <span class="text-muted">
                                Monto
                            </span>
                        </h4>
                    </th>
                    <th title="Fecha transacción">
                        <h4 style="cursor:pointer">
                            <span class="text-muted">
                                Fecha transacción
                            </span>
                        </h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.TipoTransaccion
                                </td>
                                <td>
                                    @item.Monto.ToString("C")
                                </td>
                                <td>
                                    @item.FechaCreacion.ToString("dd/MM/yyyy")
                                </td>
                            </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="pagingBox">
        Página @(ViewBag.PageCount < ViewBag.PageNumber ? 0 : ViewBag.PageNumber) de @ViewBag.PageCount | @ViewBag.TotalItemCount registros
        <div id="PaginacionDiv">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("GetAllTransacciones", new { page = page }),
        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
        {
        DisplayItemSliceAndTotal = false,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
        </div>
    </div>
}

<script>
    $(document).ready(function() {
        $(".pagination-container").addClass("m-datatable__pager m-datatable--paging-loaded clearfix");
        $(".pagination-container ul").addClass("m-datatable__pager-nav");
        $(".pagination-container ul li a").addClass("m-datatable__pager-link m-datatable__pager-link-number");
        $(".pagination-container ul li.PagedList-skipToPrevious a").removeClass("m-datatable__pager-link m-datatable__pager-link-number");
        $(".pagination-container ul li.active a").removeClass("m-datatable__pager-link m-datatable__pager-link-number");
        $(".pagination-container ul li.PagedList-skipToPrevious a").addClass("m-datatable__pager-link m-datatable__pager-link--prev");
        $(".pagination-container ul li.active a").addClass("m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active");
        $(".pagination-container ul li.PagedList-skipToNext a").removeClass("m-datatable__pager-link m-datatable__pager-link-number");
        $(".pagination-container ul li.PagedList-skipToNext a").addClass("m-datatable__pager-link m-datatable__pager-link--next");

        $("#PaginacionDiv").find("a.page-link").addClass("page-transacciones");

    });

    $("a.page-link").click(function(e) {
        e.preventDefault();
        if ($(this).hasClass("page-transacciones")) {
            var href = $(this).attr('href');
            var i = href.lastIndexOf('=');
            var page = "";
            if (i > -1) {
                page = href.substring(i + 1, href.length);
                if (page != "") {
                    var SearchData = $("#SearchData").val();
                    var IdCuenta = $("#TraIdCuenta").val();
                    var IdUsuario = $("#TraIdUsuario").val();
                    
                    StartLoading();
                    $('#gridTransacciones').load(urlGeneral + 'Transacciones/GetAllCuentas?page=' + page + '&Filter=' + filters + '&SearchData=' + encodeURIComponent(SearchData) + '&IdCuenta=' + IdCuenta + '&IdUsuario=' + IdUsuario, function(response, status, xhr) {
                        StopLoading();
                    });
                }
            }
        }
    });

</script>