@model IEnumerable<Clientes>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@if (Model.Count() == 0)
{
    <div class="col-md-12 row mt-2 mb-2">
        <label>
            Sin registros
        </label>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <h4>
                            <span class="text-muted">
                                Identificador
                            </span>
                        </h4>
                    </th>
                    <th title="Cliente">
                        <h4 style="cursor:pointer">
                            <span class="text-muted">
                                Cliente
                            </span>
                        </h4>
                    </th>

                    <th title="Email">
                        <h4 style="cursor:pointer">
                            <span class="text-muted">
                                Email
                            </span>
                        </h4>
                    </th>
                    <th title="Telefono">
                        <h4 style="cursor:pointer">
                            <span class="text-muted">
                                Telefono
                            </span>
                        </h4>

                    </th>
                    <th title="Cuentas de ahorro">
                        <h4 style="cursor:pointer">
                            <span class="text-muted">
                                Cuentas de ahorro
                            </span>
                        </h4>

                    </th>
                    <th title="Actualización">
                        <h4 style="cursor:pointer">
                            <span class="text-muted">
                                Actualización
                            </span>
                        </h4>
                    </th>
                    <th>
                        <h4>
                            <span class="text-muted">
                                Herramientas
                            </span>
                        </h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        string lastDateUpdate = item.FechaActualizacion.HasValue ? item.FechaActualizacion.Value.ToString("dd/MM/yyyy") : "";
                        <tr>
                            <td>
                                @item.Identificador
                            </td>
                            <td>
                                @item.NombreCompleto
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Telefono
                            </td>
                            <td>
                                @item.TotalCuentasAhorro
                            </td>
                            <td>
                                @lastDateUpdate
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" onclick="Editar('@item.Id')" class="btn btn-success btn-icon"
                                        data-toggle="tooltip" data-placement="top" title="Editar usuario">
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                        <button type="button" onclick="VerCuentas('@item.Id')" class="btn btn-secondary btn-icon"
                                        data-toggle="tooltip" data-placement="top" title="Ver cuentas de ahorro">
                                            <i class="fas fa-coins"></i>
                                        </button>
                                        <button type="button" onclick="BajaUsuario('@item.Id')" class="btn btn-danger btn-icon"
                                        data-toggle="tooltip" data-placement="top" title="Dar de baja usuario">
                                            <i class="fas fa-user-times"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="pagingBox">
        Página @(ViewBag.PageCount < ViewBag.PageNumber ? 0 : ViewBag.PageNumber) de @ViewBag.PageCount | @ViewBag.TotalItemCount registros
        <div id="PaginacionDiv">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("GetAllClientes", new { page = page }),
        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
        {
        DisplayItemSliceAndTotal = false,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
        </div>
    </div>
}

<script>
    $(document).ready(function() {
        $(".pagination-container").addClass("m-datatable__pager m-datatable--paging-loaded clearfix");
        $(".pagination-container ul").addClass("m-datatable__pager-nav");
        $(".pagination-container ul li a").addClass("m-datatable__pager-link m-datatable__pager-link-number");
        $(".pagination-container ul li.PagedList-skipToPrevious a").removeClass("m-datatable__pager-link m-datatable__pager-link-number");
        $(".pagination-container ul li.active a").removeClass("m-datatable__pager-link m-datatable__pager-link-number");
        $(".pagination-container ul li.PagedList-skipToPrevious a").addClass("m-datatable__pager-link m-datatable__pager-link--prev");
        $(".pagination-container ul li.active a").addClass("m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active");
        $(".pagination-container ul li.PagedList-skipToNext a").removeClass("m-datatable__pager-link m-datatable__pager-link-number");
        $(".pagination-container ul li.PagedList-skipToNext a").addClass("m-datatable__pager-link m-datatable__pager-link--next");

        $("#PaginacionDiv").find("a.page-link").addClass("page-clientes");
        $('[data-toggle="tooltip"]').tooltip();

    });

    $("a.page-link").click(function(e) {
        e.preventDefault();
        if ($(this).hasClass("page-clientes")) {
            var href = $(this).attr('href');
            var i = href.lastIndexOf('=');
            var page = "";
            if (i > -1) {
                page = href.substring(i + 1, href.length);
                if (page != "") {
                    var SearchData = $("#SearchData").val();

                    StartLoading();
                    $('#gridClientes').load(urlGeneral + 'Clientes/GetAllClientes?page=' + page + '&Filter=' + filters + '&SearchData=' + encodeURIComponent(SearchData), function(response, status, xhr) {
                        StopLoading();
                    });
                }
            }
        }
    });

    function BajaUsuario(id) {
        var formData = new FormData();
        swal.fire({
            title: '¿Confirma que desea dar de baja al usuario?',
            type: 'question',
            showCancelButton: true,
            cancelButtonText: 'No, cancelar',
            confirmButtonText: 'Sí, continuar'
        }).then(function(result) {
            if (result.value) {
                StartLoading();
                formData.append("Id", id);
                system.save(urlGeneral + "Clientes/BajaUsuario", formData, function(response) {
                    if (response.isSuccess == true) {
                        StopLoading();
                        toastr.success(response.message);
                        cargarClientes();
                    } else {
                        StopLoading();
                        toastr.error(response.message);
                    }
                });
            }
        });
    }

    function VerCuentas(id) {
        window.location.href = urlGeneral + "CuentasAhorro/Index?IdCliente=" + id;
    }

    function Editar(id) {
        cleanModals();
        StartLoading();
        system.get(urlGeneral + 'Clientes/GetCliente?Id=' + id, null, function(response) {
            if (response.isSuccess == true) {
                StopLoading();
                console.log(response.result);
                $("#titleLabelAddCliente").text("Actualizar cliente");
                $("#CliId").val(response.result.id);
                $("#CliNombre").val(response.result.nombre);
                $("#CliApellidoPaterno").val(response.result.apellidoPaterno);
                $("#CliApellidoMaterno").val(response.result.apellidoMaterno);
                $("#CliEmail").val(response.result.email);
                $("#CliTelefono").val(response.result.telefono);
                $("#modalAddCliente").modal("show");
            } else {
                StopLoading();
                toastr.error(response.message);
            }
        });
    }

</script>